@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("https://fonts.googleapis.com/css?family=Anton|Notable|Patua+One&display=swap ") ;
@import url("components/card.css") ; 

 
body {
  font-family: 'Anton', sans-serif ;
  font-size: 24px;
  margin: 0px;
}



a {text-decoration: none;}