.banner{
	background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.99) 0%, rgba(56, 27, 11, 0.23) 50%), url(../../images/background.jpg);
	color: white ;
	padding: 150px 0px ;
	background-size: cover;
	background-position: center;
}
.banner h1 {
  color: #f3feffd1;
  font-size: 50px;

}
.banner h2 {
  color: #f3feff;
  font-size: 30px;
  font-weight: bolder;
  opacity: 0.8;
  padding-bottom: 50px;
  padding-top: 40px;
}
